.populares {
    padding: 3rem 0;

}

/*partimos con la grid que esta por fuera, la principal */

.populares__card {
    background: #fdfdfd;
    display: grid;
    grid-template-areas: 
    "card-imagen"
    "card-base";
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    margin-right: 1rem;
    width: calc(20% - 1rem);

}

.populares__card___imagen {
    grid-area: card-imagen;
    height: 100%;
    width: 100%;
}

.populares__card___base {
    display: grid;
    grid-area: card-base;
    grid-row-gap: .5rem;
    grid-template-rows:
    "card-header"
    "card-descripcion";
    grid-template-rows: 50px auto;
    padding: .75rem;

}

/*para que el espacio se adapte al texto 
se utiliza flex-wrap:wrap */
.populares__card___descripcion {
    display: flex;
    flex-wrap: wrap;
    grid-area: "card-descripcion";
    padding: 1rem;
}

.populares__contenido{
    display: flex;
    flex-wrap: wrap;
    grid-area: contenido;
    padding: 1rem 0;
}